.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #2196F3;
  padding: 10px;
  gap: 5px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 35px;
  text-align: center;
  
}

.grid-item1 {
grid-column: 2;
}

.grid-item9 {
grid-column: 3;
}